body {
margin: 0;
font-family : helvetica;
}

#container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
flex-direction: column-reverse;
background-color: blue;
}

#logo { 
	height: 150px
 }